/* Homepage Styling */
.bg-image {
    background-image: url('http://localhost:8081/uploads/palmtrees.jpg'); 
    height: 100vh; 
    background-size: cover; 
    background-position: center; 
}

.bg-overlay {
    position: absolute;
    top: 10;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 200px;
    background-color: rgba(30, 34, 40, 0.5); 
}

.bg-text {
    position: relative;
    transform: translateY(-50%); 
    color: white;
}

.display-3 {
    font-size: 3rem; 
    margin-bottom: 20px; 
    margin-top: 150px;
    font-size: 4rem;
    color: #ffffff;
}

.text-wrap {
    font-size: 1.5rem;
    margin-bottom: 30px; 
}

/* Navbar styling */
.navbar {
    padding: 1rem 2rem;
    background: linear-gradient(to right, #6db4ee, #8cbbec, #5383eb) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white !important;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #ffffff !important;
}

.nav-link {
    color: white !important;
    font-size: 1.1rem;
    margin: 0 10px;
    padding: 5px 15px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.nav-link:hover {
    /* background-color: rgba(255, 255, 255, 0.1); */
    transform: translateY(-2px); 
}


.navbar-nav {
    align-items: center;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
}

/* Destination Cards */
.container {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  h2 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.45rem;
    color: #333;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .col {
    flex: 1;
    min-width: calc(33.333% - 20px);
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #444;
  }
  
  .card-text {
    font-size: 1rem;
    color: #666;
  }

.search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

p {
    margin-bottom: 25px;
}

h1 {
    font-size: 1.8rem;
    color: #333;
  }
  